table,th,
td{
    border: 5px solid red;
    border-collapse:collapse ;
}
table{
    width: 50%;
}
th{
    height: 50px;
}
.content{
    height: 200px;
    text-align: center;
    margin: 100px auto;
}
td{
    height: 50px;
    text-align: center;
}